
h1{
    font-style:initial;
    border-style: dashed;
    border-color: rgb(255, 255, 255);
}
body{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('https://5.imimg.com/data5/SELLER/Default/2022/12/NK/UV/LK/3801422/stage-light-truss-500x500.jpg');
background-repeat:no-repeat ;
background-attachment: fixed;
background-size: cover;
background-position: px;     
}
body{
    background-color: rgb(10, 58, 68);
}
nav{
    color: bisque;
    text-align: center;
    text-decoration: solid;

}
.items{
    display:flex;
    text-align: left;
}
.footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    background-color: #2874f0;
    color: white;
}